.env
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log   
*.csv
*.json
*.env
*.ipynb_checkpoints
*.DS_Store
*.egg-info/

*.egg
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.rar
*.tgz
*.bak
*.swp   